@import "variables.styl"

#copyright-info-input
  .panel.panel-default.copyright-info-input
    margin 0 auto
    margin-top 48
    margin-bottom 140px
    .panel-heading
      display flex
      height 64px
      padding 0 64px
      .copyright-step
        display flex
        align-items center
        margin-right 64px
        color gray-lighter
        .copyright-step-bullet
          width 24px
          height 24px
          border 1px solid gray-lighter
          border-radius 50%
          display flex
          margin-right 10px
          align-items center
          justify-content center
        &.finish
          .copyright-step-bullet
            color transparent
            background gray-lightest url('/static/imgs/file-upload-list-heading-finish-icon.svg') no-repeat center
        &.active
          color brand-primary
          .copyright-step-bullet
            border-color brand-primary
    .panel-body
      padding 0
      h3
        font-size 22px
        font-weight normal
        color gray-dark
        margin 0
        margin-bottom 32px
        display inline-block
      h3.subtitle
        margin 0
        font-weight normal
        display inline-block
        color gray-light
        padding-left 28px
        font-size 12px
      .block-wrapper
        position relative
        width 800px
        margin 50px auto
      .information-input-container
        display flex
        .information-input-column-left
          margin-right 44px
        .information-input-column-right
          flex 1
          input
            width 100%
          textarea
            resize vertical
            width 100%
          textarea.description
            min-height 80px
            margin-top 12px
          .tokenfield.form-control
            margin-top 10px
            border 1px solid gray-lightest
            min-height 44px
            padding-top 9px
            padding-bottom 20px
            border-radius 8px
            box-shadow none
            position relative
            &:after
              content "以「空格」作为区分"
              position absolute
              right 12px
              bottom 6px
              color gray-lighter
              font-size 12px
            .token-input
              height 32px
            &.focus
              box-shadow none
              border-color gray-lighter
              
            .token
              border none
              height 30px
              line-height 30px
              border-radius 15px
              padding 0 18px
              margin-bottom 8px
              margin-right 12px
              .token-label
                margin 0
                padding 0
              .close
                display none
              &:nth-child(3n)
                background #B7ECD7
                color #12CE83
              &:nth-child(3n + 1)
                background #E6E8F8
                color #7F8BDC
              &:nth-child(3n + 2)
                background #DBECFF
                color #68B0FF
      .line
        height 1px
        background gray-lightest
    label.accept-service-rule
      font-weight normal
      font-size 12px
      position absolute
      bottom 4px
      input 
        margin-right 10px
    button.next-step
      width 138px
      display block
      margin 0 auto
      margin-top 32px
      margin-bottom 44px
      
  #image-cropper    
    width 186px
    .cropit-preview
      height 186px
      width 186px
      border-radius 8px
      overflow hidden
      mask-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC')
      background-color gray-lightest
      cursor move
    .image-control-wrapper
      display flex
      margin-top 10px
      margin-bottom 16px
      
      
    .rotate-cw-btn
      background url("/static/imgs/rotate-right.svg") no-repeat center
      margin-right 7px
     
    .rotate-ccw-btn
      background url("/static/imgs/rotate-left.svg") no-repeat center
      margin-right 4px
     
    .rotate-cw-btn, .rotate-ccw-btn
      height 18px
      width 18px
      background-size 100%
      opacity 0.3
      cursor pointer
      &:hover
        opacity 0.4
      &:active
        opacity 0.3
      
    input.cropit-image-input
      width 0.1px
      height 0.1px
      opacity 0
      overflow hidden
      position absolute
      z-index -1
    label.cropit-image-input-btn
      margin 0 auto
      display block
      span  
        font-weight normal
        font-size 12px
        color gray
        height 32px
        width 112px
        display flex
        align-items center
        justify-content center
        border 1px solid gray-light
        border-radius 18px
        margin 0 auto
        cursor pointer
        &:hover
          background gray-lightest
          
  .fold-page
    .click-to-expand
      height 115px
      display flex
      align-items center
      justify-content center
      cursor zoom-in
      &:hover
        background-color gray-lightest
      .click-to-expand-content
        .click-to-expand-icon
          float left
          width 16px
          height 42px
          margin-right 12px
          background red
          background url('/static/imgs/copyright-info-expand-icon.svg') no-repeat center
        h4
          font-size 18px
          font-weight normal
          margin 0
          color gray-light
          white-space nowrap
        h4.subtitle
          margin-top 6px
          font-size 12px
    .folding-content
      display none
    &.expand
      .click-to-expand
        display none
      .folding-content
        display block
    .folding-content
      padding-top 10px
      .click-to-fold
        text-align center
        a
          cursor pointer
      .panel-sold-type-wrapper
        display flex
        margin 0 -10px
        .panel
          cursor pointer
          border 1px solid gray-lightest
          transition 0.2s
          position relative
          margin 0 10px
          background url('/static/imgs/copyright-info-sold-type-bg.svg') no-repeat
          &:hover
            border-color gray-lighter
            box-shadow 0 11px 11px rgba(gray, 0.3)
          .panel-heading
            padding 0 28px
            padding-top 10px
            background transparent
            height 88px
            border-bottom 1px solid gray-lightest
            transition 0.2s
            display flex
            align-items center
            .icon
              height 44px
              width 44px
              margin-right 15px
            h5
              margin 0 
              font-size 16px
              color gray-light
            h5.subtitle
              margin 0
              font-size 12px
              color gray-light
              margin-top 6px
            a
              color brand-info
              font-weight normal
              font-size 12px
              margin-left auto
              cursor pointer
          .panel-body
            height 172px
            position relative
            padding-top 24px
            ul
              list-style-type none
              padding 0
              margin 0 30px
              
              li
                display flex
                align-items center
                font-size 12px
                color gray-light
                font-weight normal
                line-height 23px
                &:before
                  content ""
                  display block
                  width 10px
                  height 10px
                  margin-right 12px
                  border-radius 50%
                  background gray-lighter
                &:nth-child(1):before
                  background #B0D5FF
                &:nth-child(2):before
                  background #FFC2AE
                &:nth-child(3):before
                  background #7EEDC1
            label
              position absolute
              width 100%
              bottom 0
              margin 0
              margin-bottom 30px
              color gray
              font-weight normal
              vertical-align bottom
              display flex
              justify-content space-between
              align-items flex-end
              padding-left 28px
              padding-right 54px
              .input-wrapper
                position relative
                &:after
                  content "¥"
                  position absolute
                  left 0
                  font-size 34px
                  color #B0D5FF
                  font-weight 300
              input
                width 200px
                height auto
                border none
                border-bottom 1px solid #B0D5FF
                border-radius 0
                font-size 34px
                padding-left 44px
                padding-right 0
                background transparent
                text-align center
                  
        input[type=radio]
          width 0.1px
          height 0.1px
          opacity 0
          overflow hidden
          position absolute
          z-index -1
        label.copyright-sold-type
          flex 1
          &.licence
            .icon
              background url('/static/imgs/copyright-info-sold-type-licence-icon-gray.svg') no-repeat center
            input[type=radio]:checked
              & + .panel
                .icon
                  background-image url('/static/imgs/copyright-info-sold-type-licence-icon-blue.svg')
          &.reserve
            .icon
              background url('/static/imgs/copyright-info-sold-type-reserve-icon-gray.svg') no-repeat center
            input[type=radio]:checked
              & + .panel
                .icon
                  background-image url('/static/imgs/copyright-info-sold-type-reserve-icon-blue.svg')
          input[type=radio]:checked
            & + .panel
              cursor auto
              border-color #469BFF
              
              &:before
                content ""
                position absolute
                display block
                background url("/static/imgs/copyright-info-sold-type-selected-icon.svg") no-repeat
                width 44px
                height 44px
                left 0
                top 0
              .panel-heading
                border-color #B0D5FF
                h5
                  color gray-dark
    
  .industry-selector-wrapper
    display flex
    select
      color gray
      margin 0 6px
      display block
      height 44px
      line-height 44px
      flex 1
      outline none
      border-color gray-lightest
      width 0
      background white
      -webkit-appearance none
      padding 0 10px
      position relative
      border-radius 8px
      
              
          
        
      
      
          
          
          
          
        