@import 'variables.styl'

.website-footer
  height 206px
  background #122048
  color white
  padding-top 56px
  
  .width-limit
    height 100%
    display flex
    justify-content space-between
  
  .website-footer-logo
    display flex
    align-items center
    margin-bottom 11px
  .website-footer-sologan
    color #8A949F
    font-size 18px
    margin-left 40px
    letter-spacing 4.5px

  .website-footer-copyright,
  .website-footer-icp
    color #414F77
    font-size 12px
  
  .website-footer-links
    a
      color white
      font-weight bold
      text-decoration none
      margin-left 46px
      font-weight normal
      font-size 16px
      &:hover
        color brand-primary
        
  .website-footer-counter
    text-align right
    color #D2DBE6
    font-size 20px
    font-weight lighter
    margin-top 26px
  .copyright-counter-number
    color brand-primary
    font-size 24px
    font-weight bold
    vertical-align top
    margin-right 10px
