nav.navbar.navbar-default
  font-size 16px
  .navbar-brand
    width 220px
    display flex
    justify-content center
  .container-fluid
    display flex
    .tabs
      display flex
      justify-content center
      flex 1
      li.market
        a
          display flex
          align-items center
          img
            margin-right 10px
    .login-register
      width 220px
      text-align right
      li
        float right
      a
        padding-left 10px
        padding-right 10px