@import 'variables.styl'

nav.navbar.navbar-default
  font-size 16px
  font-weight bold
  .navbar-brand
    width 220px
    display flex
    justify-content center
  .container-fluid
    display flex
    .tabs
      display flex
      justify-content center
      flex 1
      li
        margin-left 22px
        margin-right 22px
        a
          padding-left 6px
          padding-right 6px
        &.active
          position relative
          &:after
            content ""
            position absolute
            height 3px
            width 100%
            bottom 26px
            background brand-primary
      li.market
        a
          display flex
          align-items center
          img
            margin-right 10px
  .navbar-text.navbar-right.login-register
    width 172px
    margin-right 8px
    .navbar-link
      margin-left 28px
      text-decoration none
            
nav.navbar.search-block
  input
    flex 1
    margin-left 80px
    margin-right 180px
    margin-top 20px
    margin-bottom 20px
    border none
    border-bottom 1px solid gray-lightest
    padding-left 44px
    outline none
    background url("/static/imgs/header-search-icon.svg") no-repeat
    background-position left center
    font-size 24px
    color gray-dark
    &:focus
      border-color brand-primary