@import 'variables.styl'

#home
  #key-carousel
    .item
      position relative
      .content
        position absolute
        width 1024px
        height 100%
        left 0
        right 0
        top 0
        margin auto
        color white
        padding-top 100px
        h1
          font-size 72px
          line-height 70px
        .description
          font-size 16px
          margin-top 18px
        .btn
          width 169px
          margin-top 40px
          margin-right 10px
        .btn-default
          background transparent
          color white
          &:hover
            background rgba(black, 0.1)
  .info-bar
    height 80px
    background brand-primary
    color white
    .content
      width 1024px
      height 100%
      margin 0 auto
      display flex
      align-items center
    .column
      width 160px
    .icon
      height 100%
      width 44px
      margin-right 16px
      margin-left -24px
      background url('/static/imgs/home-info-bar-icon.svg') no-repeat center
    .number
      font-size 24px
      font-weight bold
    .column-label
      font-size 12px
    .right-column
      margin-left auto
      .number
        margin-right 16px
      .text
        font-size 24px
        font-weight lighter
  // .section
  h3
    left 0
    width 100%
    font-size 40px
    text-align center
  .description
    left 0
    width 100%
    line-height 25px
    text-align center
    font-size 16px
    color gray-light
  .section-1
    position relative
    margin-top 64px
    background url("/static/imgs/home-section-bg-1.png") no-repeat center top
    background-size 1400px auto
    height 800px
    h3
      position absolute
      top 36px
    .description
      position absolute
      top 120px
  .section-2
    background url("/static/imgs/home-section-bg-2.png") no-repeat center
    background-size 1400px auto
    position relative
    height 550px
  .section-3
    background url("/static/imgs/home-section-bg-3.png") no-repeat 40%
    background-size 1800px auto
    position relative
    .description
      margin-bottom 60px
    .shadow-wrapper
      box-shadow 0 10px 15px rgba(black, 0.1)
      margin 0 auto
      width 1200px
      border-radius 12px
    #work-carousel
      width 1201px
      height 712px
      background gray-lightest
      border-radius 12px
      overflow hidden
      mask-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC')
      position relative
      .content
        position absolute
        left 0
        top 0
        height 100%
        width 100%
      .work-0
        .wave-wrapper-left
          width 300px
          height 300px
          position absolute
          left 20%
          top 38%
        .wave-wrapper-right
          width 300px
          height 300px
          position absolute
          right 20%
          top 38%
          transform rotateY(180deg)
        .wave
          background url('/static/imgs/work-anim-wave.png') no-repeat center center
          position absolute
          top 0
          left 0
          width 100%
          height 100%
          transform-origin 70% center
          animation wave 3s linear infinite
          &:nth-child(1)
            animation-delay 0s
          &:nth-child(2)
            animation-delay -0.4s
          &:nth-child(3)
            animation-delay -0.8s
          @keyframes wave{
            0%{
              transform scale(0)
              opacity 1
            }
            15%{
              opacity 1
            }
            30%{
              transform scale(1.2)
              opacity 0
            }
            100%{
              transform scale(2)
              opacity 0
            }
          }
      .work-1
        .check
          background url('/static/imgs/check.svg') no-repeat center center
          height 44px
          width 44px
          position absolute
          &:nth-child(1)
            left 6.5%
            top 69%
          &:nth-child(2)
            left 27.1%
            top 18.5%
          &:nth-child(3)
            left 27.5%
            top 80.4%
          &:nth-child(4)
            left 58.5%
            top 28.4%
          &:nth-child(5)
            left 85.8%
            top 17.4%
          &:nth-child(6)
            left 82%
            top 70.4%
      .work-2
        .content
          background url('/static/imgs/work-bg-2-text.png') no-repeat center
          background-size 100%
          &:after
            content ''
            position absolute
            left 0
            top 0
            width 100%
            height 100%             
            background url('/static/imgs/work-bg-2-circle.png') no-repeat center
            background-size 634px
            transform-origin center
            animation circle 3s linear infinite
          &:before
            content ''
            position absolute
            left 0
            top 0
            width 100%
            height 100%             
            background url('/static/imgs/work-bg-2-circle-inner.png') no-repeat center
            background-size 446px
            transform-origin center
            animation circle 3s linear -1.5s infinite
            
            @keyframes circle{
              0%{
                transform translate(0,8.6%) rotate(0)
              }
              
              100%{
                transform translate(0,8.6%) rotate(360deg)
              }
            }
  .section-4
    margin-top 160px
    background url("/static/imgs/home-section-bg-4.png") no-repeat center
    background-size 1500px auto
    z-index 1
    position relative
    height 800px
  .section-5
    margin-top -220px
    background #6B7F95 url("/static/imgs/home-section-bg-5.png") no-repeat center 70%
    background-size 800px auto
    padding-top 180px
    height 900px
    h3
      color white
    .description
      color #A1A9B2
  .section-6
    height 470px
    background brand-primary
    color white
    .content 
      width 1000px
      margin 0 auto
      padding-top 150px
      display flex
      align-items center
      button
        height 80px
        width 240px
        margin-left auto
        border-radius 40px
        background white
        color gray-dark
        font-size 35px
        letter-spacing 24px
        text-indent 24px
        &:hover
          opacity 0.8
    h2
      margin 0
      font-size 40px
      
    

