@import 'variables.styl'
@import 'header.styl'
@import 'footer.styl'

.width-limit
  max-width 1136px
  margin 0 auto
  padding 0 24px

input:not([type]), input[type='text']
  height 44px
  border 1px solid gray-lightest
  border-radius 8px
  outline none
  padding 0 12px
  &::placeholder
    color gray-lighter
  &:focus
    border-color gray-lighter
  
html
  height 100%
body
  min-width 1024px
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  min-height 100%
  position relative
  &:after
    content ""
    display block
    height footer-height
  