@import 'header.styl'
@import 'footer.styl'

.width-limit
  max-width 1136px
  margin 0 auto
  padding 0 24px

body
  min-width 1024px
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  