@import 'input-range.css'
@import 'variables.styl'
@import 'header.styl'
@import 'footer.styl'

html
  height 100%
body
  background #FAFBFF
  min-width 1024px
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  min-height 100%
  position relative
  &:after
    content ""
    display block
    height footer-height

.width-limit
  max-width 1136px
  margin 0 auto
  padding 0 24px

.question-tooltip
  display inline-block
  width 16px
  height 16px
  border-radius 50%
  line-height 16px
  text-align center
  background gray-lightest
  font-size 12px
  color gray-light

.tooltip
  &.top .tooltip-arrow
    border-top-color white
  .tooltip-inner
    background white
    color gray
    text-align left
    padding 14px
    box-shadow 0 3px 7px rgba(gray, 0.3)

input:not([type]), input[type='text'], input[type='password'], input[type='number'], textarea
  height 44px
  border 1px solid gray-lightest
  border-radius 8px
  outline none
  padding 0 12px
  -webkit-appearance none
  &::placeholder
    color gray-lighter
  &:focus
    border-color gray-lighter
    
textarea
  padding-top 8px

select
  color gray
  height 44px
  line-height 44px
  flex 1
  outline none
  border-color gray-lightest
  width 0
  background white url("/static/imgs/select-arrow.svg") no-repeat
  background-position calc(100% - 8px)
  background-size 10px
  -webkit-appearance none
  -moz-appearance none
  padding 0 10px
  position relative
  border-radius 8px
  padding-right 24px
  &:focus
    border-color gray-lighter
