@import 'variables.styl'

#search-block
  background gray-lightest
  
  .block-search-result
    margin-top 108px
    background white
    td, th
      line-height 53px
      padding-left 32px
      padding-right 24px
      overflow hidden
      text-overflow ellipsis
    thead
      background #F6FBFF
    
    td:first-child
      width 160px
      