gray-base =           #000
// gray-darker           lighten(@gray-base, 13.5%)
gray-dark =           #3C4046
gray =                #768DA7
gray-light =          #A1A9B2
gray-lighter =        #D2DBE6
gray-lightest =       #E7ECF3

brand-primary =       #12CE83
brand-success =       brand-primary
brand-info =          #2B4EAF
brand-warning =       #f0ad4e
brand-danger =        #d9534f

footer-height = 206px