extends ./layouts/main.pug

block locals
  - var pid = 'account'

block styles
  link(rel='stylesheet', type='text/css', href='/static/css/account.css')

block header
  include ./components/header.pug
  +header('logined')

block footer
  include ./components/footer.pug
  
block content
  .width-limit
    .panel.panel-default.top
      .panel-body
        .avatar(style="background-image: url('/static/imgs/thumbnail.png')")
        .column-right
          .name 朱飞
          .last-login 上次登录时间：2017-07-13 17:05
          .auth-wrapper
            .auth 实名验证
            .auth 手机验证
            .auth 邮箱验证
        a.reset-password(href="/reset-password") 修改密码
    .panel.panel-default.main
      .panel-heading
        ul.nav.nav-tabs
          li.active
            a(data-toggle='tab', href='#tab0') 个人资料
          li
            a(data-toggle='tab', href='#tab1') 资金管理
          li
            a(data-toggle='tab', href='#tab2') 我的收藏
      .panel-body
        .tab-content
          #tab0.tab-pane.fade.in.active
            .form-group
              label.control-label 用户昵称
              .column-wrapper
                input(value="Dzinlife")
            .form-group
              label.control-label 性别
              .column-wrapper
                select
                  option(selected) 请选择
                  option 男
                  option 女
            .form-group
              label.control-label 所在地
              .column-wrapper
                .select-group.location-select(data-toggle="distpicker")
                  select(data-province="省")
                  select(data-city="市")
                  select(data-district="区")
            .divider
            table.account-info
              tr
                td 手机号码
                td 13761240027
                  a 修改手机

              tr
                td 登陆邮箱
                td shadow@julizi.com
                  a 修改邮箱
              tr
                td 微信
                td 未绑定
                  a 绑定微信
                  .hint 绑定微信后，你可以使用微信登录特赞、及时接收留言与通知
              tr
                td 我的公钥
                td jhAEri24wqREYgfrRyfmDZJ2SZv18C1EiR
              tr
                td 我的私钥
                td
                  button.btn.btn-sm.btn-primary 手机验证码查看
            button.btn.btn-sm.btn-primary.submit 提交修改
          #tab1.tab-pane.fade
          #tab2.tab-pane.fade

block scripts
  script(type='text/javascript', src='/static/js/distpicker.min.js')