extends ./layouts/main.pug

block locals
  - var pid = 'appeal-list'

block styles
  link(rel='stylesheet', type='text/css', href='/static/css/appeal-list.css')

block header
  include ./components/header.pug
  +header('logined')

block footer
  include ./components/footer.pug
  
block content
  .width-limit
    .panel.panel-default.top
      .panel-body
        h1 申诉列表
        a(href="/account") 返回个人中心
    .panel.panel-default.content
      .panel-body
        table
          thead
            tr
              th 申诉作品
              th 申诉人
              th 申诉描述
              th 申诉内容
              th 联系人
              th 联系电话
              th 操作
          tbody
            tr
              td 规范与设计建议
              td 天妇罗
              td 作品已侵权需要处理
              td <a href="#">查看</a>
              td 丹尼
              td 13720388832
              td <strong>已过期</strong>
            tr
              td 规范与设计建议
              td 天妇罗
              td 作品已侵权需要处理
              td <a href="#">查看</a>
              td 丹尼
              td 13720388832
              td <a href="#">举证</a><strong>已过期</strong>
  #appeal-modal.modal.fade
    .modal-dialog
      .modal-content
        .modal-body
          button.close(type='button', data-dismiss='modal')
          h3 申诉说明
          form
            .label 取证作品链接
            input
            .label 取证作品说明
            input
            .label 附件权利声明
            .text 如果有相应文件能够证明该版权存在问题，请上传证明文件，可以是时间戳、证书、截图等，我们会通过你提供的证据进行审核
            label.upload-file 上传说明文件
              input(type="file")
          button.btn-sm.btn.btn-primary.apply 提交举证
          .text.rule
            | 《要求删除或断开链接侵权网络内容的通知》填写说明<br>
            | 一、《要求恢复被删除或断开链接的网络内容的说明》系根据我国《信息网络传播权保护条例》的有关规定及“Zeepin”用户规则而制定的通知模板，以供“Zeepin”用户使用。<br>
            | 二、通知中带“*”的栏目为必填事项。<br>
            | 三、“侵权内容”，指权利人认为侵犯其信息网络传播权或者删除改变其权利管理电子信息的作品、表演、录音录像制品。<br>
            | 四、“侵权内容网页地址”，指权利人提出的侵权作品所在的具体网络地址。即：浏览器顶部地址框中显示的信息。该信息对应网络内容的位置。<br>
            | 五、“侵权事实及证明材料”，侵权事实，指侵犯权利人信息网络传播权或者删除改变其权利管理电子信息的客观情况。证明材料包括侵权的物证、书证及著作权人的权属证明等。权属证明包括著作权登记证书（号）、首次出版的出版物版权页、授权证明、代理人授权委托书等证明文件。填写证明材料应以附件的形式提供证明性文件的原件或复印件。<br>
            | 六、“通知要求”，指发出本通知的一方向接受通知一方提出的需要履行的具体事项。包括立即删除或断开链接侵权网络内容等事项。<br>
          
block scripts
  script.
    $('#appeal-modal').modal('show')
    var labelUploadFile = document.querySelector('#appeal-modal label.upload-file')
    labelUploadFile.querySelector('input').onchange = function(){
      labelUploadFile.innerText = this.files[0].name
    }