extends ./layouts/main.pug

block locals
  - var pid = 'application-success'

block styles
  link(rel='stylesheet', type='text/css', href='/static/css/application-success.css')

block header
  include ./components/header.pug
  +header('logined', 1)

block footer
  include ./components/footer.pug
  
block content
  