extends ./layouts/main.pug

block locals
  - var pid = 'application-success'

block styles
  link(rel='stylesheet', type='text/css', href='/static/css/application-success.css')

block header
  include ./components/header.pug
  +header('logined', 1)

block footer
  include ./components/footer.pug
  
block content
  .width-limit
    h1 恭喜您，申请证书成功!
    .title-button-wrapper
      button.btn.btn-sm.btn-primary 查看版权证书
      button.btn.btn-sm.btn-info 我想出售版权
    .panel.panel-default.main
      .panel-body
        .section-wrapper.top
          img.thumb(src="/static/imgs/thumbnail.png")
          .column-right
            h3 Global Blockchain Index
            .description Business Climate Index of Global blockchain asset market, GBI chose 15 bylockchain asset prices that are globally influential, and by using the specific weight using and the weighted average method Business Climate Index of Global blockchain asset market, GBI chose 15 blockchain asset prices that are globally influential, and by using the specific weight using and the weighted average method 
            h4 智品区块链交易哈希
            .hash 2Q8H9Y5PJCICN9AK317GYTOBQLNHS7YXMSA5GPTKX02Q8H9Y5PJCICN9AK317GYTOBQLNHS7YXMSA5GPTKX0…
        .line
        .section-wrapper.bottom
          h5 版权信息
          table
            tr
              td 申请时间:
              td 2017-06-20 18:36
            tr
              td 版权拥有者:
              td Shadow tang
            tr
              td 版权状态:
              td 已进入区块链保护
            tr
              td 交易类型:
              td 版权通
            tr
              td 区块高度:
              td 503845
          h5 区块名称
          .well RON6QwqNvkWv/zGJgYgX0sWLHPeG9d1puiZ1uKWL8bZ/3D4zFuHz2IdT1YRBBLgBEvxiYsLm/9PA6SX7HInisloD4eCQr+2t4BiPmKSCPwgv/Kc6mKN2ZejeZaxKrfAxLn+bBJ8wUdYzeXQVjl3Nzc6qMjFokeGViH7rpzLm31AwJjReyyxglWxaX5iPKh4MA3jV/cjyYMPVzyreFCbR14NKzVGJyW9RCv0yHRaRjmrURn1p5IVvjvSXwN0wqSwEf+CSu0EKIe/sYGkzfrPduF7YcpJBLz0YeBNNk6Km4RCjzbjN05Svt0KJECRIoSdD9BSgnR7UxBtQ5srUo1X0OA==
          h5 公钥
          .well 2Q8H9Y5PJCICN9AK317GYTOBQLNHS7YXMSA5GPTKX0RCU6T4AH
          h5 文件hash （每个文件都有一个）
          .well 2Q8H9Y5PJCICN9AK317GYTOBQLNHS7YXMSA5GPTKX0RCU6T4AH
          .well 2Q8H9Y5PJCICN9AK317GYTOBQLNHS7YXMSA5GPTKX0RCU6T4AH
    .panel.panel-default.bottom
      .panel-body
        | 原本认证由「所有权证明」和「存在证明」两部分组成，符合国际X9.95协议标准。<br>
        |「所有权证明」使用数字签名技术来证明您是此原创作品的原始作者。数字签名通过验证一组公钥和密钥的匹配来证明所有权。公钥已写入「原本DNA」，随着原创作品一起发布。密钥已通过邮件发送到您的邮箱。为了安全，系统中不保存密钥，请您妥善保存此密钥，在任何情况下都不要泄露给其他人。<br>
        |「存在证明」用于证明原创作品的发布时间，使用了区块链技术以及来自国家数字证书中心的可信时间戳服务，认证信息也已经写入「原本DNA」中。

