extends ./layouts/main.pug

block locals
  - var pid = 'copyright-certificate'

block styles
  link(rel='stylesheet', type='text/css', href='/static/css/copyright-certificate.css')

block header
  include ./components/header.pug
  +header('logined', 1)

block footer
  include ./components/footer.pug
  
block content
  .width-limit