extends ./layouts/main.pug

block locals
  - var pid = 'copyright-info-input'

block styles
  link(rel='stylesheet', type='text/css', href='/static/css/quill.snow.css')
  link(rel='stylesheet', type='text/css', href='/static/css/bootstrap-tokenfield.min.css')
  link(rel='stylesheet', type='text/css', href='/static/css/copyright-info-input.css')

block header
  include ./components/header.pug
  +header('logined', 1)

block footer
  include ./components/footer.pug
  
block content
  .width-limit
    .panel.panel-default.copyright-info-input
      .panel-heading
        .copyright-step.finish
          .copyright-step-bullet 1
          | 上传文件
        .copyright-step.active
          .copyright-step-bullet 2
          | 版权信息
        .copyright-step
          .copyright-step-bullet 3
          | 申请证书
      .panel-body
        form
          .block-wrapper
            h3 信息录入
            h3.subtitle 填写版权基本信息，方便日后维权
            .information-input-container
              .information-input-column-left
                #image-cropper
                  .cropit-preview
                  .image-control-wrapper
                    .rotate-ccw-btn
                    .rotate-cw-btn
                    input.cropit-image-zoom-input(type="range")
                  label.cropit-image-input-btn
                    span 更换略缩图
                    input.cropit-image-input(type="file") 
              .information-input-column-right
                input(placeholder="图片名")
                textarea.description(placeholder="图片描述")
                textarea#tags-input(type="text" placeholder="标签")
          .line
          //- [.expand]
          .fold-page
            .click-to-expand(onclick="toogleFoldPanel()")
              .click-to-expand-content
                .click-to-expand-icon
                h4 我想出售版权
                h4.subtitle 你的版权还可以变现哦!
            .folding-content
              .click-to-fold
                a(onclick="toogleFoldPanel()") - 收起
              .block-wrapper
                h3 信息录入
                h3.subtitle 填写版权基本信息，方便日后维权
                .panel-sold-type-wrapper
                  label.copyright-sold-type.reserve
                    input(type="checkbox")
                    .panel.panel-default
                      .panel-heading
                        .icon
                        .text
                          h5 版权通
                          h5.subtitle 版权通是帮助创作者转让版权资产的便捷方式
                      .panel-body
                        label
                          | 转让价格
                          .input-wrapper
                            input(type="number" min="0")
                  label.copyright-sold-type.licence
                    input(type="checkbox")
                    .panel.panel-default
                      .panel-heading
                        .icon
                        .text
                          h5 授权通
                          h5.subtitle 授权通是帮助创作者转让版权资产
                        a(data-toggle="modal" data-target="#licence-modal") 选择配置
                      .panel-body
                        ul
                          li 著作权
                          li 中国大陆
                          li 6-12个月
                        label
                          | 转让价格
                          .input-wrapper
                            input(type="number" min="0" pattern="[0-9]+([\.,][0-9]+)?" step="0.01")
              .line
              .block-wrapper
                h3 选择分类
                h3.subtitle 选择正确的分类，能够提高交易几率
                .industry-selector-wrapper
                  select
                    option(selected disabled) 选择行业应用
                  select
                    option(selected disabled) 选择一级分类
                  select
                    option(selected disabled) 选择二级分类
              .line
              .block-wrapper
                h3 版权详情
                h3.subtitle 跟淘宝商品介绍一样，如何让你在版权市场脱颖而出
                #text-editor(style="height: 320px")
          .line
          .block-wrapper
            label.accept-service-rule
              input(type="checkbox" checked)
              | 同意
              a(href="#") 数字作品版权服务协议
            button.btn.btn-sm.btn-primary.next-step(type="submit") 下一步
  #licence-modal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal')
          ul.nav.nav-tabs
            li.active
              a(data-toggle='tab', href='#tab0') 常用方案
            li.tab1
              a(data-toggle='tab', href='#tab1') +自定义方案
        .modal-body
          .tab-content
            #tab0.tab-pane.fade.in.active
              label.licence-setting-label
                input(type="checkbox" )
                .panel-wrapper
                  .panel.panel-default.licence-setting-panel
                    .panel-body
                      .title 微信用图授权
                      .description 该配置适合将你的版权授权给微信公众号的用户，享有使用权、转载圈、修改权等，是大部分人的首选。
                      a(href="/licence-template" target="_blank") 查看配置详情
              label.licence-setting-label
                input(type="checkbox" )
                .panel-wrapper
                  .panel.panel-default
                    .panel-body
                      .title 户外广告授权
                      .description 该配置适合将你的版权授权给微信公众号的用户，享有使用权、转载圈、修改权等，是大部分人的首选。
                      a(href="/licence-template" target="_blank") 查看配置详情
              label.licence-setting-label
                input(type="checkbox" )
                .panel-wrapper
                  .panel.panel-default
                    .panel-body
                      .title 户外广告授权
                      .description 该配置适合将你的版权授权给微信公众号的用户，享有使用权、转载圈、修改权等，是大部分人的首选。
                      a(href="/licence-template" target="_blank") 查看配置详情
              label.licence-setting-label
                input(type="checkbox" )
                .panel-wrapper
                  .panel.panel-default
                    .panel-body
                      .title 户外广告授权
                      .description 该配置适合将你的版权授权给微信公众号的用户，享有使用权、转载圈、修改权等，是大部分人的首选。
                      a(href="/licence-template" target="_blank") 查看配置详情
              label.licence-setting-label.custom
                input(type="checkbox" )
                .panel-wrapper
                  .panel.panel-default
                    .panel-body
                      .title 自定义方案一
                      .description 你可以配置自己的授权方案
                      a(onclick="$('#licence-modal .nav-tabs a[href=\"#tab1\"]').tab('show'); return false") 配置方案
            #tab1.tab-pane.fade
              .custom-licence-wrapper
                .form-group
                  label.control-label 模版名称
                  .column-wrapper
                    input(value="自定义方案")
                .form-group
                  label.control-label 版权取得方式
                  .column-wrapper
                    select
                      option(selected) 继续取得
                .form-group
                  label.control-label 授权版权范围
                  .column-wrapper
                    table
                      tr
                        td
                          label.checkbox-inline
                            input(type="checkbox")
                            | 复制权
                        td
                          label.checkbox-inline
                            input(type="checkbox")
                            | 发行权
                        td
                          label.checkbox-inline
                            input(type="checkbox")
                            | 出租权
                        td
                          label.checkbox-inline
                            input(type="checkbox")
                            | 展览权
                      tr
                        td
                          label.checkbox-inline
                            input(type="checkbox")
                            | 表演权
                        td
                          label.checkbox-inline
                            input(type="checkbox")
                            | 放映权
                        td
                          label.checkbox-inline
                            input(type="checkbox")
                            | 广播权
                        td
                          label.checkbox-inline
                            input(type="checkbox")
                            | 信息网络传播权
                      tr
                        td
                          label.checkbox-inline
                            input(type="checkbox")
                            | 摄制
                        td
                          label.checkbox-inline
                            input(type="checkbox")
                            | 改编权
                        td
                          label.checkbox-inline
                            input(type="checkbox")
                            | 翻译权
                        td
                          label.checkbox-inline
                            input(type="checkbox")
                            | 汇编权
                      tr
                        td(colspan=4)
                          label.checkbox-inline.checkbox-other
                            input(type="checkbox")
                            | 其他权
                          input
                .form-group
                  label.control-label 授权方式
                  .column-wrapper
                    .licence-method-text 普通授权许可&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;转授权权限： 不允许
                .form-group
                  label.control-label 授权区域
                  .column-wrapper.licence-zone
                    label.checkbox-inline
                      input(type="checkbox")
                      | 中国大陆
                    label.checkbox-inline
                      input(type="checkbox")
                      | 中国香港
                    label.checkbox-inline
                      input(type="checkbox")
                      | 中国澳门
                    label.checkbox-inline
                      input(type="checkbox")
                      | 中国台湾
                    label.checkbox-inline
                      input(type="checkbox")
                      | 全球国家及地区
                    label.checkbox-inline
                      input(type="checkbox")
                      | 其他地区
                .form-group
                  label.control-label 授权时间
                  .column-wrapper.licence-period
                    label
                      input(type="radio" name="licence-period" checked)
                      .licence-period-radio-button 3个月
                    label
                      input(type="radio" name="licence-period")
                      .licence-period-radio-button 6个月
                    label
                      input(type="radio" name="licence-period")
                      .licence-period-radio-button 12个月
                    label
                      input(type="radio" name="licence-period")
                      .licence-period-radio-button 24个月
                    label
                      input(type="radio" name="licence-period")
                      .licence-period-radio-button 无限期
                    label
                      input(type="radio" name="licence-period")
                      .licence-period-radio-button 自定义
                      input
        .modal-footer
          button.btn.btn-sm.btn-primary(type='button', data-dismiss='modal') 确定
          a(data-dismiss='modal') 关闭

block scripts
  script(src="/static/js/jquery.cropit.js")
  script(src="/static/js/bootstrap-tokenfield.min.js")
  script(src="/static/js/quill.min.js")
  script.
    //初始化标签输入框
    //控件文档 http://sliptree.github.io/bootstrap-tokenfield/
    var $tagsInput = $('#tags-input')
    $tagsInput.tokenfield({
      delimiter: " " //以空格作为区分
    })

    //获取已输入的标签
    function getTokens(){
      return $tagsInput.tokenfield('getTokens')
    }


    var $imageCropper = $('#image-cropper')
    //初始化图片裁剪
    $imageCropper.cropit()

    //默认缩略图
    $imageCropper.cropit('imageSrc', 'http://placekitten.com/g/1280/800')

    //绑定旋转略缩图按钮
    $('.rotate-cw-btn').click(function() {
      $('#image-cropper').cropit('rotateCW')
    })
    $('.rotate-ccw-btn').click(function() {
      $('#image-cropper').cropit('rotateCCW')
    })

    //获取裁剪图片的 dataUrl
    function getCropedImage(){
      return $imageCropper.cropit('export')
    }

    //dataURL 转换为 Blob 对象
    function dataURItoBlob(dataURI) {
      var byteString
      if (dataURI.split(',')[0].indexOf('base64') >= 0)
        byteString = atob(dataURI.split(',')[1])
      else
        byteString = unescape(dataURI.split(',')[1])
      var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0]
      var ia = new Uint8Array(byteString.length)
      for (var i = 0; i < byteString.length; i++) {
        ia[i] = byteString.charCodeAt(i)
      }
      return new Blob([ia], {type:mimeString})
    }

    //提交表单时用来获取裁剪后图片的方法
    function getCropedImageFormData(){
      var dataURL = getCropedImage()
      var blob = dataURItoBlob(dataURL)
      return blob
    }

    //展开／关闭 版权出售表单
    function toogleFoldPanel(){
      document.querySelector(".fold-page").classList.toggle("expand")
    }

    //初始化富文本编辑器
    var textEditor = new Quill('#text-editor', {
      modules: { toolbar: true },
      theme: 'snow'
    })

    //获取富文本编辑器 html
    function getEditorContent(){
      return textEditor.container.firstChild.innerHTML
    }

    //- $('#licence-modal').modal('show')
