extends ./layouts/main.pug

block locals
  - var pid = 'copyright-sale'

block styles
  link(rel='stylesheet', type='text/css', href='/static/css/copyright-sale.css')

block header
  include ./components/header.pug
  +header('logined', 2)

block footer
  include ./components/footer.pug
  
block content
  .width-limit
    ul.breadcrumb
      li
        a(href="#") 版权市场
      li.active MarvelComics漫威仅限中国区 IronMan钢铁侠影视正版授权
    .layout-wrapper
      .column-left
        .panel.panel-default.head
          img.thumb(src="/static/imgs/thumbnail.png")
          .column-right
            h1 MarvelComics漫威仅限中国区 IronMan钢铁侠影视正版授权
            .ghost-panel
              .owner-information
                .avatar(style="background-image: url('/static/imgs/thumbnail.png')")
                .column-right
                  .line-wrapper
                    h4 朱飞朱飞朱飞朱飞朱飞朱飞朱飞朱飞朱飞朱飞
                    .auth-badge
                  h5 认证
                    span 23
              .blockchain-information
                .icon
                .column-right
                  h4 记录区块链时间
                  h5 2017-05-29
        .panel.panel-default.body
          .panel-heading
            ul.nav.nav-tabs
              li.active
                a(data-toggle='tab', href='#tab0') 版权详情
              li
                a(data-toggle='tab', href='#tab1') 浏览记录
              li
                a(data-toggle='tab', href='#tab2') 交易记录
              li
                a(data-toggle='tab', href='#tab3') FAQ
            .appeal-wrapper
              span
              a(href="#") 申诉
          .panel-body
            tab-content
              #tab0.tab-pane.fade.in.active
                .article
                  p The first smartphone, the Mi1 was announced in August 2011. It comes with a built-in firmware MIUI, based on Android, combining the signature styles of Samsung TouchWiz and Apple iOS. In August 2012 Xiaomi announced the Mi2 smartphone. There was a Qualcomm Snapdragon
                  p In September 2013, 'Saami' announced the smartphone Mi3 on Snapdragon 800 (MSM8974AB) and the version on the chipset NVIDIA Tegra 4. 25 Sep 2013 'Saami' has announced plans to open
                  img(src="/static/imgs/thumbnail.png")
                  p The first smartphone, the Mi1 was announced in August 2011. It comes with a built-in firmware MIUI, based on Android, combining the signature styles of Samsung TouchWiz and Apple iOS. In August 2012 Xiaomi announced the Mi2 smartphone. There was a Qualcomm Snapdragon
                  p In September 2013, 'Saami' announced the smartphone Mi3 on Snapdragon 800 (MSM8974AB) and the version on the chipset NVIDIA Tegra 4. 25 Sep 2013 'Saami' has announced plans to open
                .line
                .non-artcle
                  h3 智品区块链地址
                  .well-blockchain 2Q8H9Y5PJCICN9AK317GYTOBQLNHS7YXMSA5GPTKX02Q8H9Y5PJCICN9AK317GYTOBQLNHS7YXMSA5GPTKX0
                  h3 版权证书地址
                  .well-certficate 2Q8H9Y5PJCICN9AK317GYTOBQLNHS7YXMSA5GPTKX02Q8H9Y5PJCICN9AK317GYTOBQLNHS7YXMSA5GPTKX0
                  .files-information
                    .files-include
                      | 包含图片：
                      .number 4
                      .extension .JPG
                      .attachment-icon
                      .number 1
                      .extension .ZIP
                      .number 3
                      .extension .PSD
                      .number 6
                      .extension .AI
                    table.table.table-bordered
                      thead
                        tr
                          th 名称
                          th 类型
                          th 大小
                          th 分辨率
                      tbody
                        tr
                          td zheshizheshizheshizheshi
                          td JPG
                          td 230Mb
                          td 1440&times;90
                        tr
                          td zheshizheshizheshizheshi
                          td JPG
                          td 230Mb
                          td 1440&times;90
                        tr
                          td zheshizheshizheshizheshi
                          td JPG
                          td 230Mb
                          td 1440&times;90
              #tab1.tab-pane
              #tab2.tab-pane
              #tab3.tab-pane
      .column-right
        .panel.panel-default.customer
          .panel-heading
            .block-wrapper
              h5 授权期限 <span>DATE</span>
              h3 6个月
            .block-wrapper
              h5 授权区域 <span>AREA</span>
              h3 仅限大陆地区
          .panel-body
            h5 版权选择 <span>COPYRIGHTS</span>
            .plan-select
              label
                input(type="checkbox" name="plan-select" disabled)
                .plan-select-button 版权通
              label
                input(type="checkbox" name="plan-select" checked)
                .plan-select-button 授权方案二
              label
                input(type="checkbox" name="plan-select")
                .plan-select-button 授权方案一
            h5 范围描述 <span>INFO</span>
            .range-descrtption 印刷、复印、拓印、录音、录像、翻录、翻拍等方式将作品制作一份或者多份的权利;
            .price-wrapper
              | 价格
              span.price 2,123
          .panel-footer
            button.add-cart
            button.buy 立即购买
        .button-line-wrapper
          button.fav 收藏
          button.share 私密分享

