extends ./layouts/main.pug

block locals
  - var pid = 'home'

block styles
  link(rel='stylesheet', type='text/css', href='/static/css/home.css')

block header
  include ./components/header.pug
  +header('no-login')

block footer
  include ./components/footer.pug

block content
  #home
    #key-carousel.carousel.slide(data-ride='carousel')
      //- ol.carousel-indicators
        //- li.active(data-target='#key-carousel', data-slide-to='0')
        //- li(data-target='#key-carousel', data-slide-to='1')
        //- li(data-target='#key-carousel', data-slide-to='2')
      .carousel-inner
        .item.active.kv-0
          .content
            h1 Blockchain Protect<br>Your Idea
            .description OmiseGO is a public Ethereum-based financial technology for use in mainstream digital wallets, that enables real-time, peer-to-peer value exchange and payment services agnostically across jurisdictions and organizational silos
            a(href="#")
              button.btn.btn-primary Regster Now
            a(href="#")
              button.btn.btn-default Read More
        //- .item
        //-   img(src='/static/imgs/kv-0.png')
        //- .item
        //-   img(src='/static/imgs/kv-0.png')
      //- a.left.carousel-control(href='#myCarousel', data-slide='prev')
      //-   span.glyphicon.glyphicon-chevron-left
      //-   span.sr-only Previous
      //- a.right.carousel-control(href='#myCarousel', data-slide='next')
      //-   span.glyphicon.glyphicon-chevron-right
      //-   span.sr-only Next
    .info-bar
      .content
        .icon.icon-1
        .column
          .number 302,153
          .column-label 区块高度
        .icon.icon-2
        .column
          .number 290
          .column-label 保护节点
        .icon.icon-3
        .column
          .number 182,742
          .column-label 累计用户量
        .right-column
          span.number 282,742
          span.text copyrights protected
    .section.section-1
      h3 智品区块链版权保护
      .description
        | 在互联网时代，搜索引擎及社交平台相关版权的问题多达几万条<br>
        | 无数创作者在如何保护版权、维权的问题上束手无策<br>
        | 智品希望通过区块链帮助创作者解决版权问题<br>
    .section.section-2
      .text-area
        .icon
        h3 免费 / 极速版权保护
        .description
          | 创造者不必再担心繁琐的版权申报过程<br>
          | 只需要三步，智品数字版权区块链将为创造者的创作版权保驾护航
      .img-area
    .section.section-3
      h3 智品区块链如何运作
      .description
        | How zeepin works ?
      .shadow-wrapper
        #work-carousel.carousel.slide(data-ride='carousel')
          ol.carousel-indicators
            li.active(data-target='#work-carousel', data-slide-to='0')
            li(data-target='#work-carousel', data-slide-to='1')
            li(data-target='#work-carousel', data-slide-to='2')
          .carousel-inner
            .item.work-0.active
              img(src='/static/imgs/work-bg-0.png')
              .content
                .wave-wrapper-left
                  .wave
                  .wave
                  .wave
                .wave-wrapper-right
                  .wave
                  .wave
                  .wave
            .item.work-1
              img(src='/static/imgs/work-bg-1.png')
              .content
                .check
                .check
                .check
                .check
                .check
                .check
            .item.work-2
              img(src='/static/imgs/work-bg-2.png')
              .content
                .shield
    .section.section-4
      h3 为何选择智品保护你的版权？
      .description
        | 智品不仅使用了全球顶尖的区块链技术
        | 并且在法律、保险、政府背书几个维度也毫不逊色
    .section.section-5
      h3 谁需要智品版权区块链
      .description
        | Who Should Zeepin?
    .section.section-6
      h3 限量招募首批智品尝鲜官，体验极速版权保护
      .description 
        span Register Now ! 
        | Zeepin Protection Your Copyrights 
      .apply-text 申请内测账号
      .input-wrapper
        input(placeholder="姓名")
        input(placeholder="职业")
        input(placeholder="手机")
        input(placeholder="邮箱")
      button.btn.btn-primary.submit 提交申请
           


