ul
  li
    a(href="latest-trade") 001 02 最新公示
  li
    a(href="search-block") 001 03 查询区块地址
  li
    a(href="login") 002 01 登录
  li
    a(href="register") 002 02 注册
  li
    a(href="auth-personal") 002 03 个人认证
  li
    a(href="auth-select") 002 03 选择用户
  li
    a(href="auth-enterprise") 002 04 企业认证
  li
    a(href="copyright-first") 003 01 首次上传
  li
    a(href="copyright-upload") 003 02 上传文件
  li
    a(href="copyright-info-input") 003 03 填写信息
  li
    a(href="licence-template") 003 04 授权模版详情
  li
    a(href="application-success") 003 05 申请成功