extends ./layouts/main.pug

block locals
  - var pid = 'owned-copyright'

block styles
  link(rel='stylesheet', type='text/css', href='/static/css/owned-copyright.css')

block header
  include ./components/header.pug
  +header('logined', 1)

block footer
  include ./components/footer.pug
  
block content
  .width-limit.owned-copyright
    .heading-tip
      | 想交易你的版权，可通过
      a(href="#") 编辑版权
      | 进行设置
    .panel.panel-default.heading
      img.thumb(src="/static/imgs/thumbnail.png")
      .column-right
        h1 Second, the insane connectivity
        .abstract is planning to launch in Southeast Asia, Macy’s is hosting live-streaming events for Chinese is planning to launch in Southeast Asia, Macy’s is hosting live-streaming events for Chinese 
        .badge-wrapper
          .badge-icon
            .badge-icon.copyright.disabled
            .badge-icon.licence.disabled
            .badge-icon.derivative.disabled
    .ghost-panel
      .owner-information
        .avatar(style="background-image: url('/static/imgs/thumbnail.png')")
        .column-right
          .line-wrapper
            h4 授权人： 朱飞
            .auth-badge
          h5 认证
            span 23
      .blockchain-information
        .icon
        .column-right
          h4 记录区块链时间
          h5 2017-05-29
      .controls-wrapper
        button.btn.btm-sm.btn-info 编辑版权
    .panel.panel-default.body
      .pabel-heading
        ul.nav.nav-tabs
          li.active
            a(data-toggle='tab', href='#tab0') 版权详情
          li
            a(data-toggle='tab', href='#tab1') 文件列表
      .panel-body
        .tab-content
          #tab0.tab-pane.fade.in.active
            .copyright-text 
              | The first smartphone, the Mi1 was announced in August 2011. It comes with a built-in firmware MIUI, based on Android, combining the signature styles of Samsung TouchWiz and Apple iOS. In August 2012 Xiaomi announced the Mi2 smartphone. There was a Qualcomm Snapdragon<br>
              | <br>
              |In September 2013, 'Saami' announced the smartphone Mi3 on Snapdragon 800 (MSM8974AB) and the version on the chipset NVIDIA Tegra 4. 25 Sep 2013 'Saami' has announced plans to open
            h3 智品区块链地址
            .well-blockchain 2Q8H9Y5PJCICN9AK317GYTOBQLNHS7YXMSA5GPTKX02Q8H9Y5PJCICN9AK317GYTOBQLNHS7YXMSA5GPTKX0
            h3 版权证书地址
            .well-certficate 2Q8H9Y5PJCICN9AK317GYTOBQLNHS7YXMSA5GPTKX02Q8H9Y5PJCICN9AK317GYTOBQLNHS7YXMSA5GPTKX0
            .line
            table.status
              tr
                td 版权状态：
                td 已进入区块链保护
              tr
                td 区块高度：
                td 503845
            h5 区块名称
            .well RON6QwqNvkWv/zGJgYgX0sWLHPeG9d1puiZ1uKWL8bZ/3D4zFuHz2IdT1YRBBLgBEvxiYsLm/9PA6SX7HInisloD4eCQr+2t4BiPmKSCPwgv/Kc6mKN2ZejeZaxKrfAxLn+bBJ8wUdYzeXQVjl3Nzc6qMjFokeGViH7rpzLm31AwJjReyyxglWxaX5iPKh4MA3jV/cjyYMPVzyreFCbR14NKzVGJyW9RCv0yHRaRjmrURn1p5IVvjvSXwN0wqSwEf+CSu0EKIe/sYGkzfrPduF7YcpJBLz0YeBNNk6Km4RCjzbjN05Svt0KJECRIoSdD9BSgnR7UxBtQ5srUo1X0OA==
            h5 公钥
            .well 2Q8H9Y5PJCICN9AK317GYTOBQLNHS7YXMSA5GPTKX0RCU6T4AH
            h5 文件hash （每个文件都有一个）
            .well 2Q8H9Y5PJCICN9AK317GYTOBQLNHS7YXMSA5GPTKX0RCU6T4AH
            .well 2Q8H9Y5PJCICN9AK317GYTOBQLNHS7YXMSA5GPTKX0RCU6T4AH
            .files-information
              .files-include
                | 包含图片：
                .number 4
                .extension .JPG
                .attachment-icon
                .number 1
                .extension .ZIP
                .number 3
                .extension .PSD
                .number 6
                .extension .AI
              table.table.table-bordered
                thead
                  tr
                    th 名称
                    th 类型
                    th 大小
                    th 分辨率
                tbody
                  tr
                    td zheshizheshizheshizheshi
                    td JPG
                    td 230Mb
                    td 1440&times;90
                  tr
                    td zheshizheshizheshizheshi
                    td JPG
                    td 230Mb
                    td 1440&times;90
                  tr
                    td zheshizheshizheshizheshi
                    td JPG
                    td 230Mb
                    td 1440&times;90
          #tab1.tab-pane
            .files-information
              .files-include
                | 包含图片：
                span.number 4
                span.extension .JPG
                span.attachment-icon
                span.number 1
                span.extension .ZIP
                span.number 3
                span.extension .PSD
                span.number 6
                span.extension .AI
              table.table.table-bordered
                thead
                  tr
                    th 名称
                    th 类型
                    th 大小
                    th 分辨率
                    th 下载链接
                tbody
                  tr
                    td zheshizheshizheshizheshi
                    td JPG
                    td 230Mb
                    td 1440&times;90
                    th
                      a(href="#") 下载
                  tr
                    td zheshizheshizheshizheshi
                    td PSD
                    td 230Mb
                    td ∕
                    th
                      a(href="#") 下载
                  tr
                    td zheshizheshizheshizheshi
                    td AI
                    td 230Mb
                    td ∕
                    th
                      a(href="#") 下载

