extends ./layouts/main.pug

block locals
  - var pid = 'login'

block styles
  link(rel='stylesheet', type='text/css', href='/static/css/login.css')

block header
  include ./components/header.pug
  +header('no-login')

block footer
  include ./components/footer.pug
  
block content
  .panel.panel-default.register
    .panel-heading
      h2 欢迎注册智品
    .panel-body
      .account-login
        form(action="#")
          .input-wrapper
            input.mobile(placeholder="输入您的手机号码")
          .input-wrapper.sms-code
            input.code(placeholder="短信验证码")
            button.btn.btn-lg.btn-primary.sms-code 获取验证码
          .input-wrapper
            input.password(placeholder="输入您的密码")
          .checkbox-wrapper
            label
              input(type="checkbox")
              | 我已阅读并同意&nbsp;&nbsp;
              a(href="#") 智品用户协议
          .input-wrapper
            button.btn.btn-lg.btn-primary.register-button(type="submit") 注册
