extends ./layouts/main.pug

block locals
  - var pid = 'reset-password'

block styles
  link(rel='stylesheet', type='text/css', href='/static/css/login.css')

block header
  include ./components/header.pug
  +header('no-login')

block footer
  include ./components/footer.pug
  
block content
  .panel.panel-default.register
    .panel-heading
      h2 重置你的密码
    .panel-body
      .account-login
        form(action="#")
          .input-wrapper
            input.mobile(placeholder="输入您的手机号码")
          .input-wrapper.sms-code
            input.code(placeholder="短信验证码")
            button.btn.btn-lg.btn-primary.sms-code 获取验证码
          .input-wrapper
            input.password(type="password" placeholder="输入您的密码")
          .input-wrapper
            input.password(type="password" placeholder="再次确认您的密码")
          .input-wrapper
            button.btn.btn-lg.btn-primary.register-button(type="submit") 重置密码
