html
  head
    //- title 智品 - #{title}
    title 智品 - Zeepin
    link(rel='stylesheet', type='text/css', href='/assets/css/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='/static/css/main.css')
    block styles
  body
    block header
    block content
    block footer
    script(src='https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js')
    script(src='/assets/js/bootstrap.min.js')
    block scripts
