html
  head
    //- title 智品 - #{title}
    title 智品 - Zeepin
    block styles
      link(rel='stylesheet', type='text/css', href='/assets/css/bootstrap.css')
      link(rel='stylesheet', type='text/css', href='/static/css/main.css')
  body
    block header
    block content
    block footer
    block scripts
      script(src='https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
      script(src='https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js')