.website-footer
  .width-limit
    .website-footer-left-column
      .website-footer-logo-area
        .website-footer-logo
          img(src="/static/imgs/logo-footer.svg")
          span.website-footer-sologan 区块链版权保护与交易
      .website-footer-icp 沪ICP备16040562号-1
      .website-footer-copyright © 2016-2017 Zeepin.com. All rights reserved. 智品忘行空  版权所有 保留一切权利
    .website-footer-right-column
      .website-footer-links
        a(href="#") 服务条款
        a(href="#") 联系我们
        a(href="#") 团队博客
        a(href="#") 关于智品
      .website-footer-counter
        span.copyright-counter-number 302,153
        | copyrights protected
