mixin header(type, active)
  case type
    when 'no-login'
      nav.navbar.navbar-default
        .container-fluid
          .navbar-header
            a.navbar-brand(href='/')
              img(src="/static/imgs/logo.svg")
          ul.nav.navbar-nav.tabs
            li(class = active === 0 ? 'active' : '')
              a(href='#') 案例场景
            li(class = active === 1 ? 'active' : '')
              a(href='/latest-trade') 最新公示
            li.market(class = active === 2 ? 'active' : '')
              a(href='#')
                img(src="/static/imgs/copyright-market-icon.svg")
                | 版权市场
          p.navbar-text.navbar-right.login-register
            a.navbar-link(href='/register') 注册
            a.navbar-link(href='/login') 登录

    when 'logined'
      nav.navbar.navbar-default
        .container-fluid
          .navbar-header
            a.navbar-brand(href='/')
              img(src="/static/imgs/logo.svg")
          ul.nav.navbar-nav.tabs
            li(class = active === 0 ? 'active' : '')
              a(href='#') 暂存区
            li(class = active === 1 ? 'active' : '')
              a(href='/copyright-protect') 版权保护
            li.market(class = active === 2 ? 'active' : '')
              a(href='#')
                img(src="/static/imgs/copyright-market-icon.svg")
                | 版权市场
          ul.nav.navbar-nav.account
            li.cart
              a.navbar-link(href='/register')
                img.navbar-cart-icon(src="/static/imgs/header-cart-icon.svg")
                | 购物车
            li.dropdown
              a.dropdown-toggle(href="#" data-toggle="dropdown")
                .navbar-avatar
                span.navbar-avatar-name 这是个比较长的用户名
                span.caret
              ul.dropdown-menu
                .dropdown-heading
                  .column-left
                    .username 这是个比较长的用户名
                    .email dzinlifedzin@me.com
                  .auth-badge
                li.divider
                li
                  a(href="#")
                    .icon.account
                    |个人资料
                li
                  a(href="#") 
                    .icon.transaction
                    | 交易记录
                li
                  a(href="#")
                    .icon.fav
                    | 我的收藏
                li
                  a(href="#")
                    .icon.balance
                    | 账户余额
                li.divider.footer
                li
                  a(href="#")
                    .icon.logout
                    | 登出




    when 'search'
      nav.navbar.navbar-default.search-block
        .container-fluid
          .navbar-header
            a.navbar-brand(href='/')
              img(src="/static/imgs/logo.svg")
          input
            //- header-search-icon
